:root {
  --muted: #6c757d;
  --divider: #e9ecef;
  --bg: #fff;
  --page-bg: #f8f9fa;
  --primary: #0d6efd;
}

body {
  background: var(--page-bg);
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  padding-bottom: 65px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #212529;
}

/* Scrollbar style (optional) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
